.home-div{
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    
}

